@import '../base/theme';
.navigation {
  padding: 10px;
  width: 100%;
  background-color: var(--color-container-bg);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
